{% extends 'common/base.html' %}

{% block content %}
    <main>

    <section class="car-details-page">
        <h2 class="car-details-page-title">Car details</h2>

        <div class="card mb-3">
  <div class="card-img">
      <img src="{{ car.image_url }}" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">Car: {{ car.brand }} {{ car.model }}</h5>
    <p class="card-text">Price: {{ car.price }}</p>
    <p class="card-text">Mileage: {{ car.mileage }}</p>
    <p class="card-text">Fuel: {{ car.fuel }}</p>
      <div class="buttons">
          <a type="button" href="{% url 'edit car' car.id %}" class="btn btn-warning">Edit</a>
          <a type="button" href="{% url 'delete car' car.id %}" class="btn btn-danger">Delete</a>
      </div>
  </div>
</div>
    </section>
</main>

{% endblock %}