{% extends 'common/base.html' %}

{% block content %}
<main>
    <section class="edit-car-page">
        <h2 class="edit-car-page-title">Edit car</h2>

        <form class="row g-3" method="post" class="form-row" action="{% url 'edit car' car.id %}">
            {% csrf_token %}
            <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Brand</label>
    {{ form.brand }}
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Model</label>
    {{ form.model }}
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Price</label>
    {{ form.price }}
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Mileage</label>
    {{ form.mileage }}
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Fuel</label>
    {{ form.fuel }}
  </div>
   <div class="col-md-6">
    <label for="inputCity" class="form-label">Image Url</label>
    {{ form.image_url }}
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Edit car</button>
  </div>
</form>
    </section>
</main>


{% endblock %}

