{% extends 'common/base.html' %}

{% block content %}
<main>
    <section class="list-cars-page">
        <h2 class="list-cars-page-title">All Cars</h2>

        {% if cars %}
            <div class="cards">
         {% for car in cars %}
        <div class="card car-card" style="width: 18rem;">
  <img src="{{ car.image_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Brand: {{ car.brand }}</h5>
    <h5 class="card-title">Model: {{ car.model }}</h5>
    <h5 class="card-title">Price: {{ car.price }}</h5>
    <a href="{% url 'car details' car.id %}" class="btn btn-primary">Go to details</a>
  </div>
</div>


        {% endfor %}
            </div>

         {% else %}
            <h3>Sorry, there no cars available.</h3>>
        {% endif %}


    </section>

</main>
{% endblock %}

