body {
    background-image: url("../images/975855.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    color: white;
}

.landing-page {
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

.landing-page-img{
    width: 400px;
}

.list-cars-page-title {
    color: white;
}